<h1 class="mat-display-1" style="margin-top:2em; text-align:center;">Add new cap</h1>

<mat-card>
  <form (ngSubmit)="onSubmit()" #todoForm="ngForm">
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="cap.name" name="title" placeholder="Cap name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="cap.text" name="text" placeholder="Some text" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="cap.brewery" name="brewery" placeholder="Brewery" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="cap.country" name="country" placeholder="Country" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="cap.myUniqueID" name="uniqueid" placeholder="unique number" />
    </mat-form-field>

    <mat-card-actions>
      <button type="submit" mat-button color="primary">Create</button>
      <button type="reset" mat-button color="warn">Reset</button>
    </mat-card-actions>
  </form>

  <mat-card-content>
    <p>{{result}}</p>
  </mat-card-content>

</mat-card>
